@import "tailwindcss";

@theme {
  --color-brand-navy: #003087;
  --color-brand-sky: #6CACE4;
  --color-brand-mist: #BFCED6;
  --color-brand-sage: #6FA287;
  --color-brand-mint: #ADDFB3;
  --color-brand-teal: #00C19F;
  --color-brand-sun: #FFC845;
  --color-brand-orange: #FF671F;
}
